.vm, .dual-boot, .vim{
	font-weight: lighter;
	font-family: 'Quicksand',sans-serif;
	color: #333;

}

.vm h1, .dual-boot h1, .vim h1{
	font-size: 30px;
}

.vm p, .vim p{
	font-family: sans-serif;
	font-weight: normal;
	color: #000;
	font-size:16px;
	text-align: justify;
}

.vm img {
	width: 100%;
	height: auto;
}

.vim .commands{
	font-size: 18px;
	color:#fff;
	padding: 30px 0px 25px 15px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
}

.vim .jumbotron{
	background: rgba(0,0,0,0.91);
	border-radius: 6px;
}


