 header h3{
	font-family: Myriad Pro;
	color: #333;
}

header h3 a{
	font-size: 18px;
	font-family: calibri;
	position: relative;
}

header a:hover{
	text-decoration: none;
	color: #333;
	-webkit-transition:0.5s;
}

header hr{
	margin-top: -0.8%;
	border-color: #666;
}