header li{
	display: inline;
}
 header .head a{
	font-family: Myriad Pro, sans-serif;
	font-weight: lighter;
	color: #333;
	font-size: 25px;
}

header li:nth-child(4) a{
	padding-right: 10px;
}
header .opt{
	font-size: 18px;
	font-family: sans-serif;
	float: right;
	padding-top: 5px;
}

header a:hover{
	text-decoration: none;
	color: #333;
	-webkit-transition:0.5s;
}

header hr{
	margin-top: -0.1%;	
	border-color: #666;
}

header2 p  {
	text-align: center;
}

header2 p:nth-child(3){
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 22px;
	color: #333;
}

header2 p:nth-child(4){
	background-color: #f2f2f2;
	border-radius: 6px;
	padding: 2% 0% 2% 0%;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 26px;
}

header2 p:nth-child(4) span{
	font-weight: bolder;
	font-family: consolas;
}